<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- 在这里可以添加程序集绑定重定向 -->
    </assemblyBinding>
  </runtime>

  <!-- 应用程序设置 -->
  <appSettings>
    <!-- 在这里可以添加应用程序设置 -->
  </appSettings>
</configuration>
